<div class="bunnies">
<%= image_tag(@picture.picture_url, :width => 600) if @picture.picture.present? %>
</div>
 <a href = "https://www.google.ro/search?q=cute+fluffy+bunnies&client=firefox-a&hs=V6Q&rls=org.mozilla:en-US:official&channel=sb&tbm=isch&tbo=u&source=univ&sa=X&ei=gOOJU9GrGsiS7AbDloGACA&ved=0CC8QsAQ&biw=1600&bih=743"> <b class="large-text"> Cute Fluffy Bunnies </b> </a>
 <p>
 <p>
 <a href = "http://localhost:3000/pictures"> <b class= "middle-text"> Loaded until now menu </b> </a>